@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;900&display=swap');



.videoDisplay{
    height: 35rem;
}

.review-thumbnail{
    max-width: 100%;
    max-height:20rem;
    object-fit: contain;
    margin:auto;
}
.faCheckCircle{
    color: rgb(100, 121, 162);
}
.review-img{
    border-radius: 100%;
    height:5rem;
    width:5rem;
}
.react-video-thumbnail-image{
    display: flex;
    background-color: black;
    border-radius: 5%;
    margin-top: 1rem;
}
div.row p{
    margin-right: 0.25rem;
}
.previewImg{
    border-radius: 5%;
   
}
.previewImg:hover{
  box-shadow: 1px 1px 15px 2px;
  

}
/* .profile-header{
    border: none;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem;
    display: inline-block;
    width: 80%;

} */


/* .profile-header h1{
    padding-top: 1rem;
    font-family:"Playfair Display", serif;

} */
div.content h6{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.profile-pic-upload{
    display:none;
    width:12rem;
    height:12rem;
    border-radius: 100%;

}

div.modal-body h5{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
div.content p{
    font-family: "Open Sans", sans-serif;
    margin-top: 0.25rem;
}
.pictureLabel{
    text-align: center;
    border-radius: 100%;
    /* border: 1px solid black; */
    width:12rem;
    height:12rem;
    margin: auto;

}
.profile-pic-img{
    display: flex;
border-radius: 100%;
justify-content: center;
width:12rem;
margin: auto;
    height:12rem;
}

div.pictureLabel label{
    padding-top:35%;
    display:flex;
    padding-bottom:35%;
    justify-content: center;
    font-size: 2.5rem;
    margin:auto;
    border-radius:100%;
    border: 1px solid black; 
}
div.pictureLabel label:hover{
  box-shadow: 1px 1px 15px 2px;

}
.profile-pic-replace{
    display:none;
}
.edit-label{
    text-align: right;
    margin-right: 30%;
    float: right;
}
.linksContainer{
    background-color: rgb(229 231 235);
    
}
div.profile-header h1{
    text-align: center;
    margin-top: 0.25rem;
    font-family:"Playfair Display", serif;

}
div.profile-header img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    border: 0;
}
.follows-row{
    justify-content:center;
}

.following, .followers{
   text-align: center;
  
   margin-top: 1rem;
   font-family: "Open Sans", sans-serif;
}
.user-icon-f{
    margin-right: 0.25rem;
}


.profileLinks{
    display: inline-block;
    font-family: "Open Sans", sans-serif;


    padding: 0.35em 1.2em;

    margin: 0 0.3em 0.3em 0;
  
 
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
    color: black;
   
    text-align: center;
  
}
.profileLinks:hover{
    color:white
}

.uploads h1{
    border: none;
    border-radius:10px;
    font-family:"Playfair Display", serif;
}
.reviewSubmit{
    background: #72b889;
	color: white;
	border-style: outset;
	border-color: #72b889;
	height: 40px;
	width: 100px;
    border-radius: 5%;
	font: bold15px arial,sans-serif;
	text-shadow: none;
    margin-left: 40%;
    margin-bottom: 2rem;
}
.reviewSubmit:hover{
    box-shadow: 5px 7px 14px -3px rgba(0,0,0,0.5);
}
.progress-container{
    width: 50%;
    margin-left: 25%;
    border: 1px solid  #72b889 ;
    height: 20px;
  border-radius: 50px;


}
.progress-bar{
    height: 20px;
  background-color: #72b889;
  box-shadow: 2px 14px 15px -7px rgba(134, 243, 148, 0.36);
  border-radius: 50px;
  transition: all 0.5s;
}
.Wishlist h1{
    font-family:"Playfair Display", serif;

}
.user-products h1{
    font-family:"Playfair Display", serif;

}
.modal-header h5, .modal-body form, .modal-body label{
    font-family: "Open Sans", sans-serif;


}

.modal-body h5{
    text-align: center;
}


.Wishlist{
    border: none;
    border-radius:10px;
}
.user-products{
    border: none;
    border-radius:10px;

    
}


.modal-img-button{
    max-height: 22rem;
    object-fit: contain;
    width: 100%;
 

}
.previews-container:hover{
    box-shadow: 1px 1px 15px 2px;
}
.product-modal{
    height:75vh;
}
.product-carousel{
    width:50%;
}
.carousel-product-img{
    display: block;
    width: 100%;
    height:100%;
}
.all-products-link{
    margin-left: 2rem;
}