.checkout-container{
background-color: rgb(209 213 219);

}
.checkout-container2{
 background-color:rgb(243 244 246);
 max-width: 64rem;
}

.card-info{
  background-color: rgb(31 41 55);

}
.card-details{
  color: rgb(243 244 246);
}
.card-type{
  color: rgb(156 163 175);
}
.small-card{
  width: 13rem;
 height: 7rem;
 background-color: rgb(107 114 128);
 right: 2.5rem
}
.visa-text{
  color: rgb(229 231 235);
}
div.small-card-text span{
  color: rgb(229 231 235);
}
.mastercard-text{
  color: rgb(229 231 235);
  bottom: 0.5rem;
  right: 1.25rem;
}
.card-label{
  color: rgb(156 163 175);
}
.card-input{
  height: 1.5rem;
  background-color: rgb(31 41 55);
  color: white;
  border-color: rgb(75 85 99);
  border-bottom-width: 1px;
  border-bottom-style: solid;
 border-left:none; 
 border-right: none;
 border-top: none;
}
.card-input:focus{
  outline: none;
  color: white;

}
.card-input::placeholder{
  color: rgb(209 213 219);

}
.checkout-button{
  height: 3rem;
  background-color: rgb(59 130 246);
  color: white;
  border:none
}
.checkout-button:focus{
  outline: none;
  color: white;
}
.checkout-button:hover{
  background-color: rgb(37 99 235);
}