.main-signin {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.signin-logo{
    height:25%;
    width:25%;
}





.logInButton {
    width:80%;
    background: linear-gradient(-45deg, #023790, #d3def6, #023790, #d3def6);
    animation: gradient 7s ease infinite;
    background-size: 400% 400%;
    margin: auto;
    border: none;
    margin-top: 0.75rem;
    padding: 0.25rem;
    border-color: transparent
}

.signUpButton {
    width: 100%;
    padding-top: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: auto;
    border: none;
    font-size: 15px;
    border-color: transparent;
    background-color: transparent;

}
