
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.input-container {
    width: 75%;
    height: 2.5rem;
    border-radius: 30px;
    box-shadow: inset 0px 0px 5px 0px;
    border: none;
    margin: auto;
    padding: 0.25rem;
    outline: none;
    
}

.container-name{
    padding-bottom:0.5rem;
}
.container-email{
    padding-bottom:0.5rem;
}


.logInButton2{
    width: 100%;
    height: 30px;
    margin: auto;
    border: none;
    background-color: white;
}
.signUpButton2{
    width: 60%;
    height: 2rem;
    border-radius: 20px;
    background-color: #faefe2;
    margin: 0;
    border: none;
    margin-top: 0.75rem;
    padding: 0.25rem;
}