.main {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 90px 0;
    background: linear-gradient(-45deg, #ee7752, #ffffff, #faefe2, #ee7752);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.sub-main{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px ;
    border-radius: 50px;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
}
.container-name{
    
    width: 300px;
    height: 70px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 5px 0px;
    border: none;
    outline: none;
    margin: auto;
}
.container-email{
    
    width: 300px;
    height: 70px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 5px 0px;
    border: none;
    outline: none;
    margin: auto;
}
.container-username{
    width: 300px;
    height: 70px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 5px 0px;
    margin: auto;
}
.container-password{
    width: 300px;
    height: 70px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 5px 0px;
    margin: auto;
}
.emailPlaceHolder{
    background-color: none;
}
input{
    border: none;
    outline: none;
    padding-top: 12px;
}
.logInButton2{
    width: 300px;
    height: 30px;
    margin: auto;
    border: none;
    background-color: white;
}
.signUpButton2{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background-color: #faefe2;
    margin: auto;
    border: none;
    font-size: 15px;

}