.main-video {
    
}

.sub-main-video {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    flex-wrap: nowrap;
    margin-inline: auto;
}

.recently-added {
    display: flex;
    background-color: antiquewhite;
    border-radius: 20px;
    height: 3rem;
    width: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.item-picture {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    background-color: aliceblue;
    height: 20rem;
    width: 20rem;
    margin: 10rem;
    flex-wrap: nowrap;
}

.item-picture-whishlist {
    display: flex;
    margin: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.video-container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    background-color: black;
}


.video-container.theater,
.video-container.full-screen {
    max-width: initial;
    width: 100%;
}

.video-container.theater {
    max-height: 90vh;
}

.video-container.full-screen {
    max-height: 100vh;
}

.video {
    width: 100%;
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
    opacity: 1;
}

.video-controls-container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.video-controls-container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
    opacity: 1;
}

.video-container.paused .pause-icon {
    display: none;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.theater .tall {
    display: none;
}

.video-container:not(.theater) .wide {
    display: none;
}

.video-container.full-screen .open {
    display: none;
}

.video-container:not(.full-screen) .close {
    display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  /* display: none; */
}

.video-container[data-volume-level="high"] .volume-high-icon {
  display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
  display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-container {
    display: flex;
    align-items: center;
  }
  
  .volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  }
  
  .volume-container:hover .volume-slider,
  .volume-slider:focus-within {
    width: 100px;
    transform: scaleX(1);
  }